:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    padding: 0;
    margin-block-end: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

body {
    background: url(./images/pattern-background-desktop.svg) no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Pale-blue);
    font-family: 'Red Hat Display', sans-serif;
}

.card {
    width: 400px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--Very-pale-blue);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.descriptions {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 900;
    margin-bottom: 20px;
}

.descriptions p {
    font-weight: 500;
    color: var(--Desaturated-blue);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
}

.plans {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.plans img {
    width: 20%;
    height: 20%;
}

.text {
    font-weight: 900;
    color: var(--Dark-blue);
}

.price {
    font-weight: 700;
}

.plans p {
    display: block;
    justify-content: flex-start;
}

.text,
.price {
    display: inline-block;
    line-height: 1.8;
}

.changePlan {
    display: flex;
    margin-top: 15px;
}

.changePlan a{
    font-weight: 700;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 15px 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.proceedPay {
    color: var(--Very-pale-blue);
    box-shadow: 0px 15px 20px var(--Pale-blue);
    background-color: var(--Bright-blue);
    margin-bottom: 15px;
}

.proceedPay:hover {
    background-color: hsl(264, 100%, 52%);
}

.cancelOrder {
    color: var(--Desaturated-blue);
    background-color: var(--Very-pale-blue);
}

.cancelOrder:hover {
    color: var(--Dark-blue);
}

.attribution {
    margin-top: 40px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}